<h2>Today's sleep log for Fitbit user <%= @user.username %></h2>
<p>Minutes to fall asleep: <%= @sleep_log[:minutes_in_bed]%></p>
<p>Number of times awake: <%= @sleep_log[:awakenings_count]%></p>
<p>Total time awake: <%=  @sleep_log[:awake_duration]%></p>
<p>Total minutes asleep: <%=  @sleep_log[:minutes_asleep]%></p>
<p>Total time in bed: <%=  @sleep_log[:time_in_bed]%></p>

